{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>HOME</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/Image20231102085229.jpg' %}"alt="">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'images/Image20231102085233.jpg' %}" alt="">
        </div>    
    </div>
</div>

<script src ="{% static 'js/bootstrap.min.js' %}" > </script>
</body>
</html>